<div class="mainDiv">

  <h2>TSU CiberCompalu 2019</h2>
  <h3>
    პროექტის ავტორები
  </h3>
  <h4>დავით იაკობიძე</h4>
  <h4>მიხეილ ალექსიძე</h4>
  <h4>გიორგი ნიკოლაიშვილი</h4>
  <h4>ზურაბ ნოზაძე</h4>

  <div class="sponsors">
    <a href="https://maxinai.com/">
      <img class="maxin" src="../../../../../assets/images/maxina.png" alt="MaxinAi"/>
    </a>
    <a href="http://vaba.co/">
      <img class="logos" src="../../../../../assets/images/vaba.png" alt="Vabaco inc."/>
    </a>
    <a href="http://www.tbilisi.gov.ge/">
      <img class="logos" src="../../../../../assets/images/meria.png" alt="თბილისის მერია"/>
    </a>
  </div>
</div>
