<h1>პაროლის ცვლილება</h1>


<form [formGroup]="changePasswordFormGroup" (ngSubmit)="save()">

  <mat-form-field appearance="outline">
    <mat-label>ძველი პაროლი</mat-label>
    <input type="text" formControlName="old_password" matInput placeholder="ძველი პაროლი" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>ახალი პაროლი</mat-label>
    <input type="text" formControlName="new_password" matInput placeholder="ახალი პაროლი" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>გაიმეორეთ ახალი პაროლი</mat-label>
    <input type="text" formControlName="confirmNewPassword" matInput placeholder="გაიმეორეთ ახალი პაროლი" required>
  </mat-form-field>


  <span class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</span>

  <button mat-button type="submit"
          class="big-button-style"
          [ngStyle]="{'cursor': changePasswordFormGroup.invalid ? 'not-allowed' : 'pointer'}">შენახვა
  </button>

</form>
